.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
}

.sidebar {
	position: sticky !important;
	top: 0 !important;
	width: 16rem !important;
	height: 100%;
	padding-top: 0rem;
	z-index: 200;
	overflow-x: hidden;
}

/* .topbar-breadcrumb {
	width: 0;
	height: calc(3.375rem - 2rem);
	margin: auto 1rem;
	width: 67rem;
} */

.fixed-top {
    position: fixed !important;
    top: 0 !important;;
    right: 0 !important;;
    left: 0 !important;;
    z-index: 1030 !important;;
    background-color: #fff !important;
}

#wrapper #content-wrapper {
	background-color: #ffffff !important;
	position: relative !important;
}

.contents {
	margin-top: 65px;
	background-color: #ffffff;
}

.section-max-width {
	max-width: 800px;
}

.breadcrumb {
	/* border-bottom: 1px solid #eeeeee; */
	background-color: #ffffff;
	margin-top: 70px;
}
.bootstrap-tagsinput {
	line-height: 29px !important;
}

.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: #fff !important;
	background-color: #6e707e !important;
	padding: 2px;
}

.dataTables_scrollBody {
	height: auto !important;
}

.toggle-vis {
	cursor: pointer !important;
	color: #3174c7 !important;
	text-decoration: none !important;
}

.avatar {
	vertical-align: middle;
	width: 20px;
	border-radius: 50%;
}

.button-sharp {
	border-radius: unset;
}

.reset-border {
	border: none !important;
	padding: 6px !important;
}

.modal-md {
	max-width: 80%;
	z-index: 10;
}

.dataTables_filter input {
	border-radius: 5px !important;
	border: 1px solid #dddddd !important;
}

table.dataTable tbody td {
	vertical-align: top;
}

th {
	white-space: nowrap !important;
}

.noborder {
	border: none !important;
}

.action {
	display: flex !important;
	justify-content: space-between !important;
	flex-wrap: wrap !important;
	flex-direction: column !important;
	padding-bottom: 2px;
}

textarea.textarea-autosize {
	height: 12.25rem !important;
	min-height: 2.25rem !important;
	resize: none !important;
	overflow-y: hidden !important;
}

textarea.textarea-autosize.form-control-lg {
	height: 12.75rem !important;
	min-height: 3.75rem !important;
}

textarea.textarea-autosize.form-control-sm {
	height: 2rem !important;
	min-height: 2rem !important;
}

.modal-lg {
	max-width: 80% !important;
	z-index: 10;
}

.border-left {
	border-left: 1px solid #eeeeee;
	margin-left: -100;
}

.menu ul {
	display: flex;
	align-items: stretch; /* Default */
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}
.menu-sub li {
	display: block;
	flex: 0 1 auto; /* Default */
	list-style-type: none;
	background: #671f79;
}

.modal-lg {
	max-width: 80% !important;
}

/* .modal-dialog, */
/* .modal-content {
	height: 100% !important;
} */

/* .modal-body { */
/* max-height: calc(100% - 120px); */
/* overflow-y: scroll !important; */
/* } */

.form-heigt {
	height: 1500px !important;
}

.row-height-sm {
	height: 400px !important;
}

.datepicker td,
.datepicker th {
	width: 1.5em;
	height: 1.5em;
	border: 1px solid #eee;
}

.badge-besar {
	color: #fff;
	background-color: #1cc88a;
	padding: 5px;
}

.border {
	border: 1px solid #e3e6f0 !important;
	padding: 6px 12px !important;
}

.hide {
	display: none;
}

.pointer-link {
	cursor: pointer;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom {
	top: 26px !important;
}

.rusak {
	margin-left: 5px;
}

#datepicker {
	width: 180px;
	margin: 0 20px 20px 13px;
}
#datepicker > span:hover {
	cursor: pointer;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #eeeeee;
	height: 60px;
	line-height: 60px;
	z-index: 10;
}

/* Radio Button Custom CSS - Bootsnipp */
ul.chec-radio {
	display: contents;
}
ul.chec-radio li.pz {
	display: inline;
}
.chec-radio label.radio-inline input[type="checkbox"] {
	display: none;
}
.chec-radio label.radio-inline input[type="checkbox"]:checked + div {
	color: #fff;
	background-color: rgb(212, 212, 212);
}
.chec-radio .radio-inline .clab {
	cursor: pointer;
	background: #ffffff;
	padding: 4px 20px;
	text-align: center;
	border: #c5ffc9 1px solid;
	position: relative;
	height: 34px;
	float: left;
	margin: 0;
}
.chec-radio .radio-inline .avail {
	cursor: pointer;
	background: #ffffff;
	padding: 4px 20px;
	text-align: center;
	border: #bbc8ff 1px solid;
	position: relative;
	height: 34px;
	float: left;
	margin: 0;
}

.chec-radio .radio-inline .notavail {
	cursor: pointer;
	background: #ffffff;
	padding: 4px 20px;
	text-align: center;
	border: #ffc5c5 1px solid;
	position: relative;
	height: 34px;
	float: left;
	margin: 0;
}

.chec-radio label.radio-inline input[type="checkbox"]:checked + div:before {
	margin-right: 5px;
}
.chec-radio label.radio-inline input[type="radio"] {
	display: none;
}
.chec-radio label.radio-inline input[type="radio"]:checked + div {
	color: #fff;
	border: #1e8b10 2px solid;
}
